 * {
   box-sizing: border-box;

 }

 /* Add padding to containers */
 .page-content {
   background-color: rgb(48, 46, 56);

 }

 .container {
   padding: 16px;

 }

 .contenedor2 {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   margin: 20px 20px 5px 20px;
   gap: 5px;
 }

 .panel-control-padre {

   border-top: solid 2px #976DD0;
   border-bottom: solid 2px #976DD0;

 }

 .flex_panel-control2 {
   display: flex;
   justify-content: space-between;
   margin: 3% 15% 0 15%;
 }

 .flex_panel-control {
   display: flex;
   justify-content: space-between;
   margin: 0 15% 0 15%;
   height: 100px;
   margin-bottom: 0%;
   height: 90px;
 }

 .flex_panel-control2 p {
   border: 2px solid #976DD0;
   padding: 35px;
   margin-top: 0%;
   background-color: #fff;
 }

 .cuadrado1 {
   height: 60px;
   width: 60px;
   border-radius: 10px;
 }


 .flex_panel-control p {
   border: 2px solid #976DD0;
   padding: 35px;
   background-color: #fff;
 }

 .fondos1 {
   width: 150px;
   height: 30px;
 }


 h1 {
   text-align: center;
 }

 .nom_banco {
   color: #fff;
   font-size: 25px;
 }

 .h4_text {
   text-align: center;
   color: rgb(228, 226, 226);
   font-size: 20px;
 }

 /* Full-width input fields */

 .input-login input {
   width: 100%;
   padding: 15px;
   margin: 5px 0 22px 0;
   display: list-block;
   border: none;
   background: #f1f1f1;
   border-radius: 10px;
 }

 .input-login input:focus {
   background-color: rgb(48, 46, 56);
   outline: none;

 }

 /* Overwrite default styles of hr */

 hr {
   border: 1px solid #f1f1f1;
   margin-bottom: 25px;
 }

 /* Set a style for the submit button */

 .registerbtn {
   background: #976DD0;
   color: white;
   padding: 12px 20px;
   border: none;
   cursor: pointer;
   width: 50%;
   opacity: 0.9;
   border-radius: 10px;
   width: 100%;
   margin-top: 10px;
   margin-bottom: 10px;
 }

 .registerbtn2 {
   background: #976DD0;
   color: white;
   padding: 12px 45px;
   border: none;
   cursor: pointer;
   width: 50%;
   opacity: 0.9;
   border-radius: 10px;
   width: 80%;
   margin-top: 30%;
   margin-left: 30%;
 }

 .registerbtn:hover {
   opacity: 1;
 }

 /* Add a blue text color to links */

 a {
   color: dodgerblue;
 }

 /* Set a grey background color and center the text of the "sign in" section */

 .signin {

   text-align: center;
 }

 .registerbtnCerrar {
   background: rgb(2, 0, 36);
   background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(255, 186, 108, 1) 0%, rgba(83, 72, 70, 1) 0%);
   color: white;
   padding: 10px 20px;
   margin: 8px 0;
   border: none;
   cursor: pointer;
   width: 30%;
   opacity: 0.9;
   border-radius: 10px;
 }

 .registerbtnCerrar:hover {
   opacity: 1;
 }


 #Primerovisible {
   display: block;
   margin: 20px;
 }

 #restoVisible {
   display: none;

 }

 .botonesRight {
   text-align: right;
 }

 .label {
   text-align: center;
 }

 .input-login {
   position: relative;
   background-color: rgb(48, 46, 56);

 }

 .input-login input {
   padding-left: 55px;
   background-color: rgb(48, 46, 56);
   border: 1px solid #fff;
   border-radius: 0px;
   margin-top: -2%;
   padding: 9px;
   color: #fff;
   font-size: 12px;
 }

 .input-login i {
   position: absolute;
   width: 50px;
   height: 50px;
   color: black;
   top: 0;
   left: 0;
 }

 .registera {
   padding-top: 20px;
   color: #fff;
   font-size: 15px;
    color: red;
 }

 .logo_persona {
   width: 30%;

 }

 .flex_img {
   display: flex;
   justify-content: center;
 }


 .flex_panel-control p {
   border: 2px solid #976DD0;
   padding: 25px;

   background-color: #fff;
 }

 .display_flex-contenedor h4 {
   background-color: #969faa;
   margin-top: 10px;
   padding-left: 10px;
   border-radius: 10px;
   color: #111;
   text-transform: uppercase;
   width: 180px;
   height: 60px;
 }

 .display_flex-contenedor {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   margin-top: 10px;
   margin-bottom: 45%;
 }

 .imagin-1 {
   width: 45px;
   height: 55px;
 }

 .backclass {
   color: #976DD0;
   font-size: 20px;
   padding-left: 5%;
 }

 .h4_tar-det {
   display: flex;
   justify-content: center;
   color: #969faa;
   font-size: 25px;
   padding-top: 40px;
 }

 .div-tarjetas-inp-2 {
   display: inline;
   text-align: center;
   background-color: #f1f1f1;
   color: #969faa;
   padding: 0%;
   height: 40px;
   border-radius: 0%;
   border-color: #969faa;
 }

 /* .tarjeta-input2 {
   text-align: center;
   background-color: #f1f1f1;
   color: #969faa;
   padding: 0%;
   width: 49.5%;
   height: 40px;
   border-radius: 0%;
   border-color: #969faa;
 } */

 .tarjeta-input3 {
   text-align: center;
   background-color: #f1f1f1;
   color: #969faa;
   margin: 0%;
   padding: 0%;
   height: 40px;
   border-radius: 0%;
   border-color: #969faa;
 }

 .boton-enviardinero {
   padding: 60px 80px 0px 80px;

 }

 .enviardinero-card {
   text-align: center;
   background-color: #fff;
   width: 65%;
   margin-top: 10%;
   padding: 9% 5% 4%;
   border-radius: 25px;
   box-shadow: -4px -4px 10px 1px rgba(151, 109, 208, 1);
   -webkit-box-shadow: -4px -4px 10px 1px rgba(151, 109, 208, 1);
   -moz-box-shadow: -4px -4px 10px 1px rgba(151, 109, 208, 1);
 }

 .container-mover {
   display: flex;
   justify-content: center;
 }

 .registerbtn5 {
   background: #976DD0;
   color: white;
   padding: 12px 20px;
   border: none;
   cursor: pointer;
   width: 50%;
   opacity: 0.9;
   border-radius: 10px;
   width: 100%;
   margin-top: 100px;

 }